---
import Conferencia from "../components/Conferencia.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="cursos">
  <main class="max-w-7xl w-11/12 mx-auto pt-2 font-body mb-16">
    <Banner src="/Cursos-Eventos/Banner.png" />
    <p class="text-center md:text-xl mb-16">
      EL Festival Latinoamericano de Instalación de Software Libre es el evento
      de difusión de Software Libre más grande en Latinoamérica y está dirigido
      a todo tipo de público: estudiantes, académicos, empresarios,
      trabajadores, funcionarios públicos, entusiastas y aun personas que no
      poseen mucho conocimiento informático.
    </p>
    <h2
      class="font-title text-lg md:text-2xl mb-8 text-center text-blue-500 font-bold uppercase"
    >
      Cursos
    </h2>
    <Conferencia
      imagen="/Cursos-Eventos/Alan.jpg"
      docente="Alan Rodrigo Fabián Rodríguez"
      empresa="Instituto Tecnológico de Veracruz"
      zona="Veracruz, MEX"
      generacion="Estudiante"
      fecha="Lunes 22 de Abril 2024"
      horario="13:00 -14:00"
      lugar="Auditorio Fermín Carrillo"
      cursourl="#"
    />
    <Conferencia
      imagen="/Cursos-Eventos/omar.jpeg"
      docente="Omar Antonio Contreras Sosa"
      empresa="Instituto Tecnológico de Veracruz"
      zona="Veracruz, MEX"
      generacion="Estudiante"
      fecha="Lunes 22 de Abril 2024"
      horario="13:00 -14:00"
      lugar="Auditorio Fermín Carrillo"
      cursourl="#"
    />
  </main>
</Layout>
