---
import Card from "../components/Card.astro";
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Comunidad de Ingenieria en Sistemas CIS">
  <!-- HERO -->
  <section
    class="min-h-[400px] md:min-h-[600px] grid place-items-center relative"
    id="hero-style"
  >
    <div class="">
      <h1
        class="font-title font-bold uppercase text-4xl md:text-5xl xl:text-6xl text-center text-yellow-400 italic"
      >
        "bienvenidos"
      </h1>
      <p
        class="font-title font-bold uppercase text-3xl md:text-5xl xl:text-6xl text-center text-white absolute bottom-1 left-0 xl:left-28"
      >
        Comunidad de Ingenieria en Sistemas
      </p>
    </div>
  </section>
  <!-- Eventos -->
  <section class="min-w-52 w-4/5 md:max-w-lg mx-auto mt-16">
    <h2
      class="font-body font-bold uppercase text-center text-3xl md:text-4xl mb-16 text-blue-500"
    >
      eventos
    </h2>
    <Carousel />
  </section>
  <!-- Cursos -->
  <section class="max-w-3xl w-[90%] mx-auto mt-16">
    <h2
      class="font-body uppercase font-bold text-center text-3xl md:text-4xl mb-8 text-blue-500"
    >
      cursos disponibles
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <Card
        imagen="/FlyersEventos/Flisol_1.png"
        titulo="Introducci贸n al Modelado 3D con Blender"
        url="#"
      />
      <Card
        imagen="/FlyersEventos/Flisol_2.png"
        titulo="Creaci贸n de imagenes y logotipos con Inkscape"
        url="#"
      />
      <Card
        imagen="/FlyersEventos/Flisol_3.png"
        titulo="Iniciaci贸n a la edici贸n de video con DaVinci Resolve"
        url="#"
      />
    </div>
    <style>
      #hero-style {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("/HeroCisMiembros.jpeg");
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
      }
    </style>
  </section>
</Layout>
<style>
  .animacion-texto {
    background: url(/degradado.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-animation: cambio-color 80s linear infinite;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  @keyframes cambio-color {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
</style>
