<footer class="bg-blue-500">
  <section
    class="flex flex-col items-center gap-5 min-[520px]:flex-row py-2 px-2 min-[520px]:justify-around mt-16"
  >
    <div class="">
      <a
        href="https://www.facebook.com/CISITVER?mibextid=ZbWKwL"
        class="flex gap-1"
      >
        <img
          src="/Logos/facebook.png"
          alt="facebook del CIS"
          class="max-w-full w-10"
        />
        <p
          class="font-body font-bold text-base text-white self-center uppercase hover:text-yellow-400"
        >
          cisitver
        </p>
      </a>
    </div>
    <div class="">
      <a
        href="https://www.instagram.com/cis.itver?igsh=MWdvZXpzdmtiNGVxdA=="
        class="flex gap-1"
      >
        <img
          src="/Logos/instagram.png"
          alt="Instagram del CIS"
          class="max-w-full w-10"
        />
        <p
          class="font-body font-bold text-base text-white self-center hover:text-yellow-400"
        >
          CIS.ITVER
        </p>
      </a>
    </div>
    <div>
      <a
        href="https://youtube.com/@cisyt?si=VhT1mx-ZZelCg0IH"
        class="flex gap-1"
      >
        <img
          src="/Logos/youtube.png"
          alt="Youtube del CIS"
          class="max-w-full w-10"
        />
        <p
          class="font-body font-bold text-base text-white self-center hover:text-yellow-400"
        >
          CIS YT
        </p>
      </a>
    </div>
  </section>
  <section class="text-white/80 mt-4 pb-4">
    <p class="text-center text-lg font-bold text-white mb-4">Integrantes</p>
    <ul class="flex flex-row gap-2 justify-evenly flex-wrap">
      <li class="line-clamp-1">Gonzalo Anuar Pérez Aramburo</li>
      <li class="line-clamp-1">Omar Antonio Contreras Sosa</li>
      <li class="line-clamp-1">Karla Daniela Real Rebolledo</li>
      <li class="line-clamp-1">Javier Antonio Palacios López</li>
      <li class="line-clamp-1">Fátima Iliana Chavez Estrada</li>
      <li class="line-clamp-1">Fidencio Alarcón López</li>
    </ul>
  </section>
</footer>
