<footer
  class="bg-blue-500 flex flex-col items-center gap-5 min-[520px]:flex-row py-2 px-2 min-[520px]:justify-around mt-16"
>
  <div class="">
    <a
      href="https://www.facebook.com/CISITVER?mibextid=ZbWKwL"
      class="flex gap-1"
    >
      <img
        src="/Logos/facebook.png"
        alt="facebook del CIS"
        class="max-w-full w-10"
      />
      <p
        class="font-body font-bold text-base text-white self-center uppercase hover:text-yellow-400"
      >
        cisitver
      </p>
    </a>
  </div>
  <div class="">
    <a
      href="https://www.instagram.com/cis.itver?igsh=MWdvZXpzdmtiNGVxdA=="
      class="flex gap-1"
    >
      <img
        src="/Logos/instagram.png"
        alt="Instagram del CIS"
        class="max-w-full w-10"
      />
      <p
        class="font-body font-bold text-base text-white self-center hover:text-yellow-400"
      >
        CIS.ITVER
      </p>
    </a>
  </div>
  <div>
    <a href="https://youtube.com/@cisyt?si=VhT1mx-ZZelCg0IH" class="flex gap-1">
      <img
        src="/Logos/youtube.png"
        alt="Youtube del CIS"
        class="max-w-full w-10"
      />
      <p
        class="font-body font-bold text-base text-white self-center hover:text-yellow-400"
      >
        CIS YT
      </p>
    </a>
  </div>
</footer>
