---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="card py-5 px-5">
  <h2 class="text-xl md:text-2xl xl:text-3xl text-white">
    <strong>{title}</strong>
  </h2>
  <p class="text-lg md:text-xl xl:text-2xl text-white/80">
    {body}
  </p>
</div>

<style>
  .card {
    text-align: center;
    background-color: #0b1d5a;
    background-image: none;
    background-size: 400%;
    background-position: 100%;
    margin-top: 5px;
  }

  h2 {
    margin: 1px;
    padding-bottom: 10px;
    color-scheme: white;
  }
</style>
